// @import "../layout/content-sidebar";
// @import "../layout/sidebar-content";

.wrap{
	display: block;
	padding-right: 15px;
	padding-left: 15px;
}

/**
 * Desktop adjustment
 */
@media screen and (min-width: $width__desktop-breakpoint){
	.site-content-wrap,
	.wrap{
		width: 980px;
		padding-left: 0;
		padding-right: 0;
		margin-left: auto;
		margin-right: auto;
	}

	.site-content-wrap{
		@include clearfix;

		#primary{
			float: left;
			width: 70%;
		}

		#secondary{
			float: left;
			width: 30%;
		}
	}
}

/*--------------------------------------------------------------
10.1 Masthead
--------------------------------------------------------------*/
@import "masthead";


@import "site-navigation";
@import "primary/posts-and-pages";
@import "primary/footnotes";
@import "primary/comments";
@import "primary/asides";
@import "primary/nothing-found";
@import "colophon";