// @import "../layout/content-sidebar";
// @import "../layout/sidebar-content";

.wrap{
	display: block;
	padding-right: 15px;
	padding-left: 15px;
}

/*--------------------------------------------------------------
10.1 Masthead
--------------------------------------------------------------*/
@import "masthead";


@import "site-navigation";
@import "primary/posts-and-pages";
@import "primary/comments";
@import "primary/asides";
@import "colophon";