#site-navigation{
	background: $color__accent;

	a{
		color: white;
	}
}

/**
* Search UI
*/
#header-search{
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 30; // should be higher than .search-modal
	padding: 10px 75px 10px 10px;
	background: $color__accent;
	display: none;
}

#s{
	border: none;
	width: 100%;
	padding: 3px 13px 4px; 
	@include border-radius( 5px );
}

#searchsubmit{
	position: absolute;
	top: 11px;
	right: 10px;
	display: none;
}

.search-modal{
	display: none;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba( 255, 255, 255, 0.97 );
	z-index: 20; // Should be lower than #header-search
	text-align: center;	
}

#search-expand-wrap.toggled{
	#header-search,
	.search-modal{
		display: block;
	}
}