#secondary{
	background: $color__background-secondary;
	text-align: center;

	.widget{
		padding: 30px 15px;
		border-bottom: 1px solid $color__border;
	}

	.widget-title{
		@include font-size( 2 );
		font-weight: lighter;
		padding-bottom: 15px;
	}
	
	ol,
	ul{
		margin-left: 0;
		margin-bottom: 0;

		li{
			list-style: none;
			padding: 5px 0;
		}
	}

	select {
		max-width: 100%;
	}	

	a{
		text-decoration: none;
	}

	/* Search Widget */
	.widget_search{
		.search-field{
			width: 100%;
			@include box-sizing( border-box );
			padding: 6px 10px;
		}
		
		.search-submit {
			display: none;
		}
	}	

	/* Calendar Widget */
	.widget_calendar{
		table{

			thead{
				th{
					padding: 5px 3px;
					text-align: center;
				}
			}

			tbody{
				td{
					padding: 5px 3px;
					text-align: center;
				}
			}

			tfoot{
				td{
					padding: 5px 3px;
				}
			}

			caption{
				padding: 10px 0;
				text-align: center;
				text-transform: uppercase;
				@include font-size( 1.1 );
				letter-spacing: 3px;
				// background: $color__gray-light;
			}

			#prev{				
				padding-top: 20px;
			}

			#next{
				padding-top: 20px;
				text-align: right;
			}
		}
	}

	/* RSS Widget */
	.widget_rss{
		li{
			margin-bottom: 20px;
		}

		.rsswidget{
			display: block;
		}

		.rss-date{
			display: block;
			color: $color__text-meta;
			margin-bottom: 10px;
			@include font-size( 1.2 );
		}

		.rssSummary{
			@include font-size( 1.2 );
			display: block;
			margin-bottom: 5px;
		}
	}
}

/**
 * Desktop Adjustment for sidebar
 */
@media screen and (min-width: $width__desktop-breakpoint){
	#secondary{
		background: transparent;
		text-align: left;
		padding-top: 40px;
		@include font-size( 1.5 );

		.widget-title{
			@include font-size( 2.6 );
		}
	}
}