/* Main top navigation */
.main-navigation {
	clear: both;
	display: block;
	float: left;
	width: 100%;
	font-weight: lighter;

	&.toggled{
		ul{
			display: block;
			position: relative;
			padding-bottom: 10px;
		}
	}

	.menu{
		float: right;
		@include font-size( 1.6 );
	}

	ul {
		list-style: none;
		margin: 0;
		padding-left: 0;
		display: none;

		li:hover > ul {
			left: auto;
		}

		.sub-menu{
			padding-left: 20px
		}
	}

	li {
		display: block;
		position: relative;

		&:hover > a {
		}
	}

	a {
		display: block;
		text-decoration: none;
		padding: 8px 0;
	}

	.current_page_item a,
	.current-menu-item a {
	}


	.site-title{
		float:left;
		@include font-size( 2 );
		font-weight: normal;
		line-height: 1.6;
	}
}

/* Toggle main top navigation */
.menu-toggle {
	float: right;
	display: inline-block;
	overflow: hidden;
	position: relative;
	@include border-radius( 0 );
	padding: 17px 0 17px 16px;
	width: 16px;

	&:before{
		content: '\f419';
		font-family: Genericons;
		font-size: 16px;
		position: absolute;
		top: 50%;
		left: 0;
		margin-top: -8px;
	}
	
	&:focus,
	&:active,
	&:hover{
		background: $color__accent;
	}
}

/* Post prev / next navigation */
.paging-navigation,
.post-navigation {
	margin: 1.5em 0;
	overflow: hidden;
}

.comment-navigation .nav-previous,
.paging-navigation .nav-previous,
.post-navigation .nav-previous {
	float: left;
	width: 50%;
}

.comment-navigation .nav-next,
.paging-navigation .nav-next,
.post-navigation .nav-next {
	float: right;
	text-align: right;
	width: 50%;
}

/* Comment navigation */
#comment-nav-above{
	border-bottom: 1px solid $color__border;
	padding-top: 10px;
	padding-bottom: 10px;
	display: block;
	overflow: hidden;
}

#comment-nav-below{
	padding-top: 10px;
	padding-bottom: 10px;
	display: block;
	overflow: hidden;
}

.comment-navigation,
.nav-links{
	padding-right: 15px;
	padding-left: 15px;

	a{
		text-decoration: none;
	}
}

/**
 * Desktop adjustment
 */
@media screen and (min-width: $width__desktop-breakpoint) {
	.menu-toggle {
		display: none;
	}

	.main-navigation ul {
		display: block;
		@include font-size( 1.4 );

		li{
			float: left;
			position: relative;

			a{
				padding: 10px 10px;
				position: relative;
				float: left;
				position: relative;

				&:hover{
					background: darken( $color__accent, 5% );
				}

				&:active{
					background: lighten( $color__accent, 5% );
				}
			}

			&.menu-item-has-children > a:after{
				content: '\f431';
				font-family: Genericons;
				margin: 3px 0 0 5px;
			}

			ul.sub-menu{
				display: none;
				position: absolute;
				top: 42px;
				right: 0;
				width: 200px;
				background: $color__accent;
				padding-left: 0;
				padding-bottom: 0;

				li{
					border-bottom: 1px solid darken( $color__accent, 5% );
					display: block;

					&.menu-item-has-children > a{
						padding-right: 30px;
					}

					&.menu-item-has-children > a:after{
						content: '\f429';
						position: absolute;
						top: 50%;
						right: 8px;
						margin-top: -10px;
					}

					a{
						display: block;
						width: 200px;
					}	

					ul.sub-menu{
						left: 200px;
						top: 0;
					}
				}
			}

			&.hovered > ul.sub-menu{
				display: block;
			}
		}
	}
}