/* Main top navigation */
.main-navigation {
	clear: both;
	display: block;
	float: left;
	width: 100%;

	.nav-menu{
		margin-top: 10px;
	}

	ul {
		list-style: none;
		margin: 0;
		padding-left: 0;
		display: none;

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: 1.5em;
			left: -999em;
			z-index: 99999;

			ul {
				left: -999em;
				top: 0;
			}

			li {
				&:hover > ul {
					left: 100%;
				}
			}

			a {
				width: 200px;
			}

			:hover > a {
			}

			a:hover {
			}
		}

		li:hover > ul {
			left: auto;
		}
	}

	li {
		display: block;
		position: relative;

		&:hover > a {
		}
	}
	a {
		display: block;
		text-decoration: none;
		padding: 5px 0;
	}

	.current_page_item a,
	.current-menu-item a {
	}
}

/* Toggle */
.menu-toggle,
.main-navigation.toggled .nav-menu {
	display: block;
}

/* Post prev / next navigation */
.paging-navigation,
.post-navigation {
	margin: 1.5em 0;
	overflow: hidden;
}

.comment-navigation .nav-previous,
.paging-navigation .nav-previous,
.post-navigation .nav-previous {
	float: left;
	width: 50%;
}

.comment-navigation .nav-next,
.paging-navigation .nav-next,
.post-navigation .nav-next {
	float: right;
	text-align: right;
	width: 50%;
}

/* Comment navigation */
#comment-nav-above{
	border-bottom: 1px solid $color__border;
	padding-top: 10px;
	padding-bottom: 10px;
	display: block;
	overflow: hidden;
}

#comment-nav-below{
	padding-top: 10px;
	padding-bottom: 10px;
	display: block;
	overflow: hidden;
}

.comment-navigation,
.nav-links{
	padding-right: 15px;
	padding-left: 15px;

	a{
		text-decoration: none;
	}
}

/**
 * Desktop adjustment
 */
@media screen and (min-width: 1023px) {
	.menu-toggle {
		display: none;
	}

	.main-navigation ul {
		display: block;
	}
}