.sticky {
	display: block;
}

.byline,
.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

/**
 * Page Header
 */
.page-header{
	padding: 20px 15px;
	border-bottom: 1px solid $color__border;

	.page-title{
		@include font-size( 2 );
		font-weight: lighter;
	}

	.taxonomy-description{
		color: $color__text-meta;
		font-style: italic;

		p{
			margin-bottom: 0;
		}
	}
}

/**	
 * Main Content
 */
#main{
	padding: 10px;

	.hentry{
		margin-bottom: 10px;
		background: white;
		-moz-box-shadow:    0px 2px 2px 0px $color__shadow;
		box-shadow:         0px 2px 2px 0px $color__shadow;		
	}
}

.entry-featured-image{
	display: block;
	margin: 0 0 10px;
}

.entry-meta{		
	@include font-size( 1.2 );
	color: $color__text-meta;
	padding: 15px 15px 0;

	a{
		color: $color__text-meta;
		text-decoration: none;					

		.genericon,
		.entry-date{
			vertical-align: middle;
		}

		.genericon{
			margin-right: 5px;
		}
	}
}

.entry-title{
	@include font-size( 2.4 );
	line-height: 1.2em;
	margin-top: -5px;
	font-weight: bold;
	padding: 15px 15px 0;

	a{
		// @include font-size( 2 );
		text-decoration: none;
	}
}

.entry-sub-title{
	@include font-size( 1.6 );
	padding: 0 15px 20px;
	color: $color__text-meta;
	font-weight: lighter;

	a{
		color: $color__text-meta;
		text-decoration: none;
	}
}

.entry-content{
	line-height: 1.8;
	padding: 0 15px 0;
	// display: none;

	.read-more{
		background: $color__accent;
		color: white;
		text-decoration: none;
		padding: 10px 25px;
		@include border-radius( 3px );
	}

	h1{
		@include font-size( 2.4 );
		margin-top: 30px;
	}

	h2{
		@include font-size( 1.9 );
		margin-top: 30px;
	}

	h3{
		@include font-size( 1.6 );
		margin-top: 30px;
	}
	
	h4{
		@include font-size( 1.4 );
		margin-top: 30px;
	}	
}		

.entry-footer{
	padding: 0 15px 15px;
	@include font-size( 1.1 );
	color: $color__text-meta;
	// display: none;
	
	.genericon,
	a{
		text-decoration: none;
		color: $color__text-meta;
		vertical-align: middle;
	}

	.genericon{
		margin-right: 2px;
	}
}

/**
 * Desktop adjustment
 */
 @media screen and (min-width: $width__desktop-breakpoint){
	#main{
		.hentry{
			margin-right: 40px;
		}
	}

	.entry-header{
		.entry-title{
			@include font-size( 4 );
		}

		.entry-meta{
			font-weight: lighter;
			@include font-size( 1.4 );
		}
	}

	.entry-content{
		@include font-size( 1.8 );
	}

	.entry-footer{
		@include font-size( 1.4 );
		font-weight: lighter;
	}
 }