.sticky {
	display: block;
}

.byline,
.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

/**
 * Page Header
 */
.page-header{
	padding: 20px 15px;
	border-bottom: 1px solid $color__border;

	.page-title{
		@include font-size( 2 );
		font-weight: lighter;
	}

	.taxonomy-description{
		color: $color__text-meta;
		font-style: italic;

		p{
			margin-bottom: 0;
		}
	}
}

/**	
 * Main Content
 */
#main{
	.hentry{
		padding: 40px 15px;
		border-bottom: 1px solid $color__border;
	}
}

.entry-featured-image{
	border-top: 4px solid $color__accent;
	margin: 0 -15px 10px;
}

.entry-header{
	.cat-links{		

		a{
			color: darken( $color__text-meta, 20% );
			text-decoration: none;
			@include font-size( 1.1 );
			font-weight: bold;
		}
	}

	.entry-title{
		@include font-size( 2.4 );
		margin-top: -5px;
		margin-bottom: 10px;
		font-weight: bold;

		a{
			@include font-size( 2 );
			text-decoration: none;
			font-weight: lighter;
		}
	}

	.entry-meta{		
		@include font-size( 1.1 );
		color: $color__text-meta;
		font-weight: lighter;

		a{
			color: $color__text-meta;
			text-decoration: none;					

			.genericon,
			.entry-date{
				vertical-align: middle;
			}

			.genericon{
				margin-right: 5px;
			}
		}
	}
}

.entry-content{
	line-height: 1.8;
	// display: none;
}		

.entry-footer{
	padding-top: 20px;
	@include font-size( 1.1 );
	color: $color__text-meta;
	// display: none;
	
	.genericon,
	a{
		text-decoration: none;
		color: $color__text-meta;
		vertical-align: middle;
	}

	.genericon{
		margin-right: 2px;
	}
}

.comment-navigation,
.nav-links{
	padding-right: 15px;
	padding-left: 15px;

	a{
		text-decoration: none;
	}
}